  .statistics-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: horizontal;
  }
  
  .statistics-header {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
  }
  
  .chart-section {
    margin-bottom: 40px;
    margin-top: 40px;
  }